@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");

:root {
  --main-bg-color: #0f1221;
  --main-font-color: #fff;
  --gradient-color: linear-gradient(
    90deg,
    rgba(135, 22, 144, 1) 0.36%,
    rgba(90, 18, 159, 1) 100%
  );
  --hover-color: yellowgreen;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  padding: 0 20px;

  font-family: "BPG Nino Mtavruli", sans-serif;
}

/* ფონი */
.bg-wraper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.background-svg {
  width: 100%;
}

/* ჰედერი */
header {
  width: 100%;
  height: 110px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burger {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.lines {
  width: 35px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
}
nav {
  width: 100%;
  height: 60px;

  background: var(--gradient-color);
}
nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}
nav ul li {
  font-size: 24px;
  position: relative;
}
.btn {
  display: block;
  text-decoration: none;
  color: white;

  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  color: var(--hover-color);
  text-shadow: 0 0 15px blue;
  transform: translateY(-3px);
}
/* @media screen and (max-width: 1350px) {
  nav ul li {
    font-size: 18px;
  }
} */

.dropdown-content {
  width: max-content;
  display: none;
  flex-direction: column;
  position: absolute;
  left: -15px;
  padding: 15px;
  gap: 15px;
  background: var(--gradient-color);
}
.dropdown-content a {
  color: black;
}
/* .dropdown-content a {
} */
nav ul li:hover .dropdown-content,
.dropdown-content:hover {
  display: flex;
}

/* მაინი */
main {
  margin-top: 80px;
  display: flex;
  gap: 50px;
}

/* ასაიდი */
#search {
  width: 435px;
  height: 45px;
  margin-bottom: 40px;
  padding-left: 10px;

  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: larger;
  font-weight: 600;
}
aside iframe {
  width: 45vw;
  max-width: 740px;
  min-width: 435px;
  height: 470px;
}
/* სექცია */
h1 {
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 25px;
}
.main-section h3 {
  font-size: 24px;
}
.main-section ul {
  list-style-type: square;
  padding-left: 24px;
}
.main-section li {
  font-size: 21px;
}
.main-section li::marker {
  font-size: 30px;
}
.more {
  display: inline-block;
  padding: 15px;
  margin-top: 30px;

  background: var(--gradient-color);
}
.more:hover {
  box-shadow: 0 0 5px;
}

@media screen and (max-width: 900px) {
  .burger {
    display: flex;
  }
  main {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  nav {
    display: none;
  }
  aside {
    width: 100%;
  }
  #search {
    width: 100%;
  }
}

/* ფუტერი */
footer {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  height: 50px;
  padding: 50px 0;
}
.mail a {
  color: #fff;
  text-decoration: none;
}
.mail a:hover,
.bi:hover {
  text-shadow: 0 0 15px blue;
  color: var(--hover-color);
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
}
